<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增员工</title>
    <script type="text/javascript" data-main="/js/userinfo/addUserInfo.js" src="/lib/require.js"></script>
    <style>
        .table  tbody  tr  td ,th{
            border:1px solid white;
        }
    </style>
</head>
<body>
<div id="wrapper wrapper-content">
    <form role="form" id="FormUserInfo" method="post" style="margin-right: 20px;margin-left: 20px">
        <table class="table table-hover" style="border-top: none">
            <tbody>
            <tr class="form-group">
                <td class="text-right" style="width: 100px"><label for="username"><span style="color: red">*</span>账 号：</label></td>
                <td><input type="text" name="username" id="username" class="form-control" placeholder="不允许汉字" style="width: 200px"></td>
            </tr >
            <tr class="form-group">
                <td class="text-right"><label for="password"><span style="color: red">*</span>密 码：</label></td>
                <td><input type="password" name="password" id="password" class="form-control" placeholder="数字字母组合" style="width: 200px"></td>
            </tr>
            <tr class="form-group">
                <td class="text-right"><label for="realname">真实姓名：</label></td>
                <td><input type="text" name="realname" id="realname" class="form-control" placeholder="不超过5个汉字" style="width: 200px"></td>
            </tr>
            <tr class="form-group">
                <td class="text-right"><label>性别：</label></td>
                <td><label>性别：<input type="radio" checked name="sextype" value="男">男</label>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="radio" name="sextype" value="女">女</label></td>
            </tr>
            <tr class="form-group">
                <td class="text-right"><label for="depname">部门名称：</label></td>
                <td><input type="text" name="depname" id="depname" class="form-control" placeholder="全称" style="width: 200px"></td>
            </tr>
            <tr class="form-group">
                <td class="text-right"><label for="birthdate">出生日期：</label></td>
                <td> <input type="date" name="birthdate" id="birthdate" class="form-control" value="1980-08-17" style="width: 200px"></td>
            </tr>
            <tr class="form-group">
                <td class="text-right"><label for="nativeplace">籍贯：</label></td>
                <td><input type="text" name="nativeplace" id="nativeplace" class="form-control" placeholder="如:四川.资阳" style="width: 200px"></td>
            </tr>
            <tr class="form-group">
                <td class="text-right"><label for="homeaddress">家庭地址：</label></td>
                <td><input type="text" name="homeaddress" id="homeaddress" class="form-control" placeholder="填写详细的地址" style="width: 300px"></td>
            </tr>
            <tr class="form-group">
                <td class="text-right"><label for="mobile"><span style="color: red">*</span>手机号：</label></td>
                <td><input type="text" name="mobile" id="mobile" class="form-control" placeholder="填写11位手机号" style="width: 200px"></td>
            </tr>
            <tr class="form-group">
                <td class="text-right"><label for="email"><span style="color: red">*</span>邮 箱：</label></td>
                <td><input type="email" name="email" id="email" class="form-control" placeholder="填写常用邮箱" style="width: 200px"></td>
            </tr>
            <tr class="form-group">
                <td class="text-right"><label for="position">职 位：</label></td>
                <td><input type="text" name="position" id="position" class="form-control" placeholder="如:JAVA程序员" style="width: 100px"></td>
            </tr>
            <tr class="form-group">
                <td class="text-right"><label><span style="color: red">*</span>角 色：</label></td>
                <td><select class="form-control" name="roleuuid" id="roleuuid" style="width: 200px"></select></td>
            </tr>
            </tbody>
        </table>
        上传头像(格式：jpg，png，≤ 2M)
        <div class="upload" id="case" name="case" action="/userinfo/upload" data-num="1" data-type="jpg,png" data-size="20480" data-value=""></div>
        <div class="form-inline text-center" style="margin-bottom: 6px;padding-top: 10px">
            <button id="btn_Save" type="button" class="btn btn-primary btn-md" > 提 交 </button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" class="btn btn-primary btn-md"> 重 置 </button>
        </div>

    </form>

</div>

</body>
</html>