<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" data-main="/js/measuredata/listMeasuredata.js" src="/lib/require.js"></script>
    <title>测量数据列表</title>
</head>
<body>
<div class="wrapper wrapper-content animated fadeInRight" style="padding: 8px" >
    <!--列表展示-->
    <table id="tb_Measuredatas"> </table>
</div>
</body>
</html>