<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>角色权限管理</title>
    <script type="text/javascript" data-main="/js/authority/RoleAuth.js" src="/lib/require.js"></script>
</head>
<body>

<!--增加角色-->
<div id="addrolediv" style="display: none;margin: 15px">
    <form role="form" class="form-inline" id="FormSysRole" method="post">
        <div class="form-group" style="margin-bottom: 30px">
            <label for="name">角色名称：</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="不允许与已有的重名" style="width: 180px">
        </div>
        <div class="text-center">
            <button id="btn_SaveRole" type="button" class="btn btn-w-m btn-primary" >保 存</button>
        </div>
    </form>
</div>

<div class="wrapper wrapper-content animated fadeInRight" style="padding: 8px" >
    <!--角色展示-->
    <div class="panel panel-default list-inline">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6 text-left"><h4>系统角色</h4></div>
                <div class="col-md-6 text-right">
                    <button style="margin-right: 10px" id="btn_addrole" type="button" class="btn btn-outline btn-info btn-sm">
                        <span class="glyphicon glyphicon-plus"></span> 新增角色
                    </button>
                    <button style="margin-right: 10px" id="btn_deleterole" type="button" class="btn btn-outline btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove"></span> 删除角色
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <label th:each="sysrole,iterStat:${sysroles}" style="margin-right: 20px;display:inline-block;color: #0d8ddb"><input type="radio" name="radiorole" value="option1" th:disabled="${sysrole.name=='超级管理员'}?true:false" th:attr="value=${sysrole.uuid}" th:text="${sysrole.name}"></label>
        </div>
    </div>

    <!--权限 展示-->
    <div class="panel panel-default list-inline">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6 text-left"><h4>系统权限</h4></div>
                <div class="col-md-6 text-right">
                    <button style="margin-right: 10px" id="btn_managermainfun" type="button" class="btn btn-outline btn-info btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span> 管理一级功能
                    </button>
                    <button style="margin-right: 10px" id="btn_addauth" type="button" class="btn btn-outline btn-warning btn-sm">
                        <span class="glyphicon glyphicon-floppy-disk"></span> 保存设置
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row" >
                <div class="col-md-3">
                    <div class="panel panel-info" style="height:400px;overflow:auto">
                        <div class="panel-heading">功能模块1</div>
                        <div class="panel-body" style="padding:2px">
                            <div class="panel ztree" id="treedemo1"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-info" style="height:400px;overflow:auto">
                        <div class="panel-heading">功能模块2</div>
                        <div class="panel-body" style="padding:2px">
                            <div class="panel ztree" id="treedemo2"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-info"  style="height:400px;overflow:auto">
                        <div class="panel-heading">功能模块3</div>
                        <div class="panel-body" style="padding:2px">
                            <div class="panel ztree" id="treedemo3"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-info" style="height:400px;overflow:auto">
                        <div class="panel-heading">功能模块4</div>
                        <div class="panel-body" style="padding:2px">
                            <div class="panel ztree" id="treedemo4"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-info" style="height:400px;overflow:auto">
                        <div class="panel-heading">功能模块5</div>
                        <div class="panel-body" style="padding:2px">
                            <div class="panel ztree" id="treedemo5"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-info" style="height:400px;overflow:auto">
                        <div class="panel-heading">功能模块6</div>
                        <div class="panel-body" style="padding:2px">
                            <div class="panel ztree" id="treedemo6"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-info" style="height:400px;overflow:auto">
                        <div class="panel-heading">功能模块7</div>
                        <div class="panel-body" style="padding:2px">
                            <div class="panel ztree" id="treedemo7"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>